.Rproj.user/
.RData
.Rhistory
scripts/script2/.RData
scripts/script2/.RDataTmp
data/globalterrorismdb_0718dist.csv
data/raw/globalterrorismdb_0718dist.csv
data/processed/gtd_clean.csv
*.RDataTmp
**/environmentTmp